<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" href="templates/style.css">
<html>
  <head>
	<ul class="nav nav-tabs">
		<li id="picker-tab"><a href="index" onClick="pickerActive()">Color Picker</a></li>
		<li id="rgb-tab"><a href="rgb" onClick="rgbActive()">RGB Sliders</a></li>
		<li id="schemes-tab"><a href="">Schemes</a></li>
		<li id="mixer-tab"><a href="">Mixer</a></li>
		<li id="paint-tab"><a href="">Paint</a></li>
	</ul>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Color Duck</title>
    <meta charset="UTF-8">

  </head>
  <body>
{% block content %}
    <div class="container">


    </div>
{% endblock %}




	<hr class="my-4">
	<div class="foot">
		<footer>
		  <div class="foot_top"><h6><small>Color Wizard - Random color project/experiment exploring color</small></h6></div>
		  <div class="foot_bottom"><h6><small><a>Copyright 1999-2050 by Claire Cecil.</small></h6></div>
		</footer>
	</div>
				
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
