{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link rel="stylesheet" type="text/css" href="templates/style.css">



	<div class="box-one">
		<h6>Color 1:</h6>
		<canvas id="scheme_canvas_one" width="50" height="50" style="border: 1px solid black;"></canvas>
		<output type="text" name="hex_scheme_one" id="hex_scheme_one">#ffffff</output>
	</div>


<script src="js/schemes_logic.js"></script>
{% endblock %}
