.body {
	padding-top: 10px;
}
.box-one {
	margin-left: 20px;
}
#cards {
  display: inline-flex;
}
.color_boxes {
	padding-left: 15px;
}
.color-picker {
  padding-top: 10px;
  padding-left: 10px;
}
#color-picker-grid {
	margin-top: 20px;
	cursor: crosshair;
	display: block;
}
.demo-card-wide.mdl-card {
  width: 256px;
  padding-bottom: 10px;
  position: relative;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background-color:#f1dddd;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
#gradient-box {
  cursor: crosshair;
  width: 100%
  margin: 0;
}
.gradient-div {
  padding-top: 10px;
  padding-left: 55px;
}
.jumbotron_heading {
	color: black;
}
.jumbotron_title {
	padding-left: 10px;
	padding-bottom: 20px;
}
.mdl-cell {
  padding: 5px 0;
  color: #424242;
  padding-right: 30px;
  padding-left: 30px;
}
.mdl-cell--2-col {
  width: 8.33333%;
  padding-left: 20px;
}
.mdl-grid {
  padding: 0!important;
  padding-right: 30px;
  padding-left: 30px;
}
.mdl-selectfield {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
}
.mdl-selectfield__select {
  padding-right: 20px;
}		
.prev_text {
	padding-right: 20px;
	padding-left: 140px;
}
#preview_canvas {
	background-color: #ffffff;
}
.preview_values {
	padding-top: 27px;
}
#rgb_c {
	margin-bottom: 15px;
	margin-left: 600px;
}
#rgb_h {
	margin-bottom: 15px;
	margin-left: 700px;
}
#rgb_sliders {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 250px;
	margin-right: 250px;
}
#scheme-cards {
  display: inline-flex;
}
#schemes-input {
  display: flex;
}
#schemes-toppage {
  display: flex;
}
.sel_box {
	padding-left: 20px;
}
#top_nav {
	background-color: #ececec;
}
#under-canvas-details {
	display: inline-flex;
}
.under-canvas-details {
	padding-left: 20px;
}
